body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    display: block;
    margin: 30px auto 0px auto;
    max-width: 90%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 8vw;
    margin: 20px;
}

.box {
    display: flex;
    width: 40vw;
    height: 75vh;
    background-color: #555368;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}